* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    /* font-family: ; */
}

body {
    background-color: #fefefe;
}

Header {
    width: 100%;
    max-width: 1300px;
    height: 100px;
    background-color: #ec1839;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

Header .logo {
    font-size: 28px;
    font-weight: 800;
    color: #fefefe;
}

Header .hamburger {
    display: none;
}

Header .navBar ul {
    display: flex;
}

Header .navBar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
}

Header .loginSec div a {
    width: 20px;
    border: 10px;
    display: block;
    color: #fefefe;
    font-size: 20px;
    /* padding: 10px 25px; */
    border-radius: 50px;
    transition: 0.2s;
    /* margin: 0 5px; */
    text-decoration: none;
}

.navBar ul li a:hover {
    color: #7ded49;
}